# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
.idea/.name
.idea/editor.xml
.idea/misc.xml
.idea/modules.xml
.idea/Text-Editor.iml
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/.cmake/api/v1/reply/cache-v2-b42354e7588dfe630e1b.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-e65f378655f2b2fa250f.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-0dfa932f168b68de98fd.json
cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-05-16T10-42-33-0812.json
cmake-build-debug/Text_Editor
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/myfile.txt
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/.cmake/api/v1/reply/target-Text_Editor-Debug-2cbedcb77ba1c5bdccdd.json
cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-3dbf56e1c5f59067396a.json
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
CMakeLists.txt
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-423668134244b386c531.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-06-28T13-39-03-0010.json
cmake-build-debug/file.txt
cmake-build-debug/file.txt
*.txt
